body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#logo-container {
    padding: 20px 0;
    background-color: black;
}

#logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card-with-background {
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    color: rgba(37, 162, 195, 255);
}

.grouped-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    display: inline-block;
}

button {
    background-color: rgba(255, 0, 0, 0.752);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff66009a;
}

.card h2 {
    color: rgba(37, 162, 195, 255);
}

.card p {
    color: black;
}

.content-group.orange-background {
    background-color: orange;
    color: white;
}

.content-group.orange-background h2,
.content-group.orange-background p {
    color: white;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rounded-image img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.contact-section {
    background: rgba(37, 162, 195, 255);
    color: white;
    text-align: center;
    padding: 20px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info h2 {
    font-size: 24px;
    margin: 0;
}

.contact-info p {
    margin: 5px 0;
}

.contact-section img {
    vertical-align: middle;
}

/* Aggiungi stile all'icon-box */
.icon-box {
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 10px;
    color: rgba(37, 162, 195, 255);
}

/* Stile per la descrizione dei contatti */
.contact-description {
    display: inline;
    color: white;
    font-size: 18px;
    vertical-align: middle;
}
