$text-color: #f4f4f4;
$btn-bg-hero: #ff8700;
// colors.scss

$navbar-background-color: #333; // Sostituisci con il colore desiderato per la navbar
$navbar-link-color: #fff; // Sostituisci con il colore desiderato per i link nella navbar
// Altre definizioni di colori

$hero-text-color: #f4f4f4; // Sostituisci con il colore desiderato per il testo nella sezione hero
// Altre definizioni di colori

$grid-item-background-color: #ffffff; // Sostituisci con il colore desiderato per lo sfondo degli elementi della griglia
// Altre definizioni di colori